<div class="user-container">
    <h2 class="title">User List</h2>

    <table class="user-table" *ngIf="users.length > 0;">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Mobile No</th>
                <th>Role</th>
                <th>Joining Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.dateOfBirth | date: 'mediumDate' }}</td>
                <td>{{ user.mobileNo }}</td>
                <td>{{ user.roleName }}</td>
                <td>{{ user.joiningDate | date: 'mediumDate' }}</td>
                <td>
                    <button mat-fab (click)="EditDialog(user)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>