<nav [class]="sidebarClasses">

  <button class="menu_open" mat-icon-button (click)="toggleSidebar()">
    <mat-icon>{{ isOpen ? 'menu_open' : 'menu' }}</mat-icon>
  </button>
  
  <div class="sidebar-header">
    <div class="user-info" *ngIf="isOpen">
      <h4>{{ userInfo.firstName }} {{userInfo.lastName }}</h4>
      <span>{{ userInfo.roleName }}</span>
    </div>
  </div>

  <div class="nav-section">
    <button mat-button color="primary" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
      @if (isOpen) {Dashboard} 
    </button>
  </div>

  <div class="nav-section">
    <button mat-button color="primary" routerLink="/users">
      <mat-icon>group</mat-icon>
      @if (isOpen) {Users} 
    </button>
  </div>

  <div class="logout-section" *ngIf="isOpen">
    <button (click)="onLogOut()" class="logout-btn">🚪 Logout</button>
  </div>
</nav>