<ng-container *ngIf="control && control.invalid && (control.dirty || control.touched)">
  <mat-error *ngIf="control.hasError('required')">This field is required</mat-error>
  <mat-error *ngIf="control.hasError('minlength')">
    Minimum {{ control.getError('minlength').requiredLength }} characters required
  </mat-error>
  <mat-error *ngIf="control.hasError('maxlength')">
    Maximum {{ control.getError('maxlength').requiredLength }} characters allowed
  </mat-error>
  <mat-error *ngIf="control.hasError('email')">Please enter a valid email address</mat-error>
  <mat-error *ngIf="control.hasError('pattern')">Invalid format</mat-error>
  <mat-error *ngIf="control.hasError('min')">
    Minimum value is {{ control.getError('min').min }}
  </mat-error>
  <mat-error *ngIf="control.hasError('max')">
    Maximum value is {{ control.getError('max').max }}
  </mat-error>
  <mat-error *ngIf="control.hasError('custom')">
    {{ control.getError('custom') }}
  </mat-error>
</ng-container>
